/*

Written By Omid Yaghoubi (DeOpen)
DeOpenMail@gmail.com
+98935-822-23-55

*/

div.login_container {
	position: relative;
	/*overflow: auto;*/
	margin: 0 auto;
	margin-top: 5%;
	background-color: hsla(200, 18%, 10%,0.3);
	border-radius: 5%;
	border: solid gray;
	max-width: 50vh;
	height: 100vh;
    
	padding: 1vh;
}
div.panelStyle {
	
    margin: 0 auto;
	background-color: hsla(200, 18%, 10%,0.3);
	border-radius: 5%;
	border: solid gray;
	max-width: 50vh;
	height: 100%;
    
	padding: 1vh;
}

img#img_banner{
	width: 100%

}

div.banner {
	/*border-bottom: solid;*/
	margin-top:1vh;
	border-radius: 10%;
	border-color: hsla(200, 15%, 40%,0.75);
}

div.user_pass_containter {
	
	margin: 1vh;
	position: relative;
	padding-top: 1vh;
	padding-bottom: 1vh;
}

input:not(#remember_me) {
	
	background-color: hsla(190, 35%, 30%,0.2);	
	box-sizing: border-box;
	text-align: center;
	width: 100%;
	font-family: "Times New Roman";
	font-size: 100%;
	margin-top: 5%;
}



.myCheckbox{
	/*background-color: hsla(190, 55%, 25%,0.25);
	border-radius: 10%;
	border: solid gray;
	padding-top: 4vh;
	margin-top: 7%;
    */
}
.myCheckbox label {
    
    margin-top: 4%;
	font-size: 100%;
	font-family: monospace;
}

.error{
	color: rgba(240,0,0,0.8);
	font-size: 90%;
}


.g-recaptcha {
	/*border: solid;*/
	display: flex;
	position: relative;
	overflow: none;
    margin: 1px auto;
	margin-top: 5%;
	/*
    margin-left: auto;
	left: -1%;*/
	object-fit: scale-down;
   	max-width: 100%;
   	width: 100%;
   	/*overflow: auto;*/
   
}

.black{
    color:black;
}

.form-control::-webkit-input-placeholder { color: black; }
.form-control:-moz-placeholder { color: black; }
.form-control::-moz-placeholder { color: black; }
.form-control:-ms-input-placeholder { color: black; }

